<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Shop-Guthaben</title>
</head>

<body>
    <header>
        <h1>Guthaben für <strong>{{ id }}</strong></h1>
    </header>

    <main>
        <h3>Wert: {{ balance }} Diamanten</h2>
    </main>

    <footer>
        <h4><a href="/">Zurück zur Startseite</a></h4>
    </footer>

</body>

</html>