<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>JH220 SMP Shop</title>
</head>
<body>
  <header>
    <h1>Shop Guthabenabfrage</h1>
    <p></p>
  </header>
  <main>
    <form action="/balance" method="POST">
        <p><strong>Gutschein- oder VIP-Mitgliedschafts-ID:</strong></p>
        <input type="text" name="code" class="text_input"/>
        <input type="submit" value="Guthaben anzeigen", class="submit_button">
      </form>
    </main>
</body>
</html>